student-diary-client-server/WebContent/wsdl/UniversityService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.masters.pld.uni" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.masters.pld.uni" xmlns:intf="http://service.masters.pld.uni" xmlns:tns1="http://model.masters.pld.uni" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.masters.pld.uni" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.masters.pld.uni"/>
   <element name="findStudents">
    <complexType/>
   </element>
   <element name="findStudentsResponse">
    <complexType>
     <sequence>
      <element name="findStudentsReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="createStudent">
    <complexType>
     <sequence>
      <element name="university" type="tns1:University"/>
     </sequence>
    </complexType>
   </element>
   <element name="createStudentResponse">
    <complexType>
     <sequence>
      <element name="createStudentReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.masters.pld.uni" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://service.masters.pld.uni"/>
   <complexType name="University">
    <sequence>
     <element name="id" type="xsd:long"/>
     <element name="location" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="createStudentResponse">

      <wsdl:part element="impl:createStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findStudentsRequest">

      <wsdl:part element="impl:findStudents" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findStudentsResponse">

      <wsdl:part element="impl:findStudentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createStudentRequest">

      <wsdl:part element="impl:createStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UniversityService">

      <wsdl:operation name="findStudents">

         <wsdl:input message="impl:findStudentsRequest" name="findStudentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:findStudentsResponse" name="findStudentsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createStudent">

         <wsdl:input message="impl:createStudentRequest" name="createStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:createStudentResponse" name="createStudentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UniversityServiceSoapBinding" type="impl:UniversityService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findStudents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findStudentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findStudentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UniversityServiceService">

      <wsdl:port binding="impl:UniversityServiceSoapBinding" name="UniversityService">

         <wsdlsoap:address location="http://localhost:8083/student-diary-client-server/services/UniversityService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
